header nav .nav-logo {
    width: 10%;
    justify-content: left;
}

header nav .nav-menu-items {
    width: 70%;
    justify-content: center;
}

header nav .nav-search {    
    width: 20%;
    justify-content: center;
}

.main-login {
    background: linear-gradient(to bottom, #8d2e2e, hsl(340, 6%, 10%));
    color: white;
}

.bg {
    background-image: url(/client/images/logo4.jpg);
    background-position: center center;
    background-color: black;
    color: white;
}

.bg-form-2 {
    color: white;
    background-color:  hsl(340, 6%, 10%);
}