header nav .nav-logo {
    width: 10%;
    justify-content: left;
}

header nav .nav-menu-items {
    width: 60%;
    justify-content: center;
}

header nav .nav-search {
    width: 20%;
    justify-content: center;
}

header nav .nav-login {
    width: 10%;
    justify-content: center;
}

.main-reg {
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    font-weight: 700;
}

#form-reg { /*Id del formulario */
    background: #fff;
    padding: 40px 0;
    box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    width: 350px;
    height: 500px;
}

.form-main {    /*Clase del div principal del formulario */
    width: 100%;
    height: 100%;
    margin: auto;
}

form .grupo {
    position: relative;
    margin: 45px;
}

input {
    background: none;
    color: #c6c6c6;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--colorTextos);
}

input:focus {
    outline: none;
    color: rgba(94, 91, 93);
}

label {
    color: var(--colorTextos);
    font-size: 16px;
    position: absolute;
    /*bottom: 0;*/
    left: 5px;
    top: 10px;
    transition: 0.5s ease-in-out all;
    pointer-events: none;
}

input:focus~label,
input:valid~label {
    top: -14px;
    font-size: 12px;
    color: #2196f3;
}

.barra {
    position: relative;
    display: block;
    width: 100%
}

.barra::before {
    content: "";
    height: 2px;
    width: 0%;
    bottom: 0;
    position: absolute;
    background: linear-gradient(to bottom, #8d2e2e, hsl(345, 5%, 16%));
    transition: 0.3s ease width;
    left: 0;
}

input:focus~.barra::before {
    width: 100%;
}

.warnings {
    width: 200px;
    text-align: center;
    margin: auto;
    color: #8d2e2e;
    padding-top: 20px;
}

.btn-reg {
    font-family: 'roboto';
    background: hsl(345, 5%, 16%);
    /*Fallback for old browsers*/
    background: -webkit-linear-gradient(to right, #8d2e2e, hsl(345, 5%, 16%));
    /*Chrome*/
    background: linear-gradient(to right, #8d2e2e, hsl(345, 5%, 16%));
    /*Edge, Chrome 26+, Opera 12+, Safari 7+*/
    border: none;
    border-radius: 5px;
    display: block;
    width: 60%;
    margin: 10px auto;
    color: #fff;
    height: 40px;
    font-size: 14px;
    transition: all 0.4s;    
    font-weight: bold;
}

.btn-reg:hover {
    transform: scale(1.2);
    font-size: 16px;
}

/*@media screen and (max-width:500px) {
    form {
        width: 80%;
    }
}*/

/*@media (max-width: 700px) {
    .container {
        width: 600px;
    }
}*/

/*@media (min-width: 1000px) {
    .container {
        width: 900px;
    }
}*/