*{
    margin: 0;
    padding: 0;
}

body {
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(/client/images/fondo.png);
}

a {
    text-decoration: none; /*No quiero ninguna etiqueta con ancla*/
}

/* Header */

header {
    width: 100%;
    background-color: #212529;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

header nav {
    font-size:larger;
    display: flex;
    justify-content: center;
    color: white;
    padding: 0;
    margin: 0;
    width: 100%;
}

header nav .nav-logo {
    border-radius: 5px;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    list-style: none;
    color: white;
}

header nav .nav-menu-items {
    width: 200px;
    height: auto;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    width: 55%;
}

header nav .nav-search {
    width: 200px;
    height: auto;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    width: 15%;
}

header nav .nav-login {
    width: 200px;
    height: auto;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    width: 10%;
}

header nav .nav-register {
    width: 200px;
    height: auto;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    width: 10%;
}

.nav-logo li  a img {
    display: flex;
    object-fit: contain;
}

nav .nav-menu-items a {
    margin-right: 20px;
    color: white;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    transition: all 0.4s;
}

nav .nav-login a {
    margin-right: 0;
    background-color: white;
    color: black;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    transition: all 0.4s;
}

nav .nav-register a {
    margin-right: 0;
    background-color: rgb(74, 177, 172);
    color: white;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    transition: all 0.4s;
}

.nav-logo img:hover {
    transform: scale(0.9)
}

.nav-login li a:hover {
    transform: scale(1.2);
    color: white;
    background-color: black;
}

.nav-register li a:hover {
    transform: scale(1.2);
    color: white;
    background-color: black;
}

.nav-menu-items li a:hover {
    transform: scale(1.2);
    color: #000000;
    background-color: #ffffff;
}

/* Main ------------------ */

.container-main {
    margin: 10px;
    display: grid;
    gap: 1.6em; /*Añade un espaciado entre los items*/
    grid-template-columns: repeat(5, 1fr); /* Creo 5 columnas*/
}

.container-main > .header-main, .container-main > .container-main, .container-main >.sidebar-main, .container-main > .div-post-main {
    background: grey;
    padding: 20px;
    text-align: center;
}

.container-main > .header-main {
    background-color: #306aa3;
    color: white;
    grid-column: 1/-1;
}

.container-main > .content-main {
    grid-column: span 3; /*Me indica que abarca 3 columnas*/
    grid-row: span 4;
    background-color: darkkhaki;
    padding: 5px;
}

.container-main > .article-main {
    background: #808e9b;
    padding: 20px;
    margin-top: 5px;
    color: #4298bd
}

.content-main .article-main h3,
.content-main .article-main p {
    padding: 10px;
}

.container-main > .sidebar-main {
    grid-column: span 2;
    grid-row: span 4;
    background: #485460;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.container-main > .sidebar-main img {
    height: 200px;
    width: 200px;
}

.container-main > .div-post-main {
    background: #2d3436;
    color: #ffffff;
    height: 200px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
    
}

img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.container-main .sidebar-main iframe {
    object-fit: contain;
    width: 100%;
    margin-top: 5px;
}

.container-main>.div-post-main:hover {
    cursor: pointer;
    color: #000000;
    background: #ffffff;
}

/* Footer ------------------ */
.panda-footer {
    background-color: hsl(340, 6%, 10%);
    color: white;
    text-align: center;    
    width: 100%;
    display: inline-block;
    justify-content: center;
    align-items: center;
    -webkit-box-align: center;
}

.panda-footer div {
    margin-bottom: 15px;
    margin-top: 2px;
}

.legal-end-footer span{
    margin-right: 50px;
}

.icons-social a{
    margin-right: 20px;
}

.footer-1 {
    display: grid;
    gap: 1.6em; /*Añade un espaciado entre los items*/
    grid-template-columns: repeat(2, 1fr); /* Creo 5 columnas*/
}

.panda-footer div .comeback-top {
    color: white;
}

/* REVISAR ----------------------------------*/


form .form-input-control{
    display: block;
    margin-top: 0em;
    color: #fff;
    background-color: var(--bs-dark);
    border-color: var(--bs-gray);
}

.form-input {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

